li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0%;
  margin: 0;
}

h1 {
  background-color: rgba(113, 220, 247, 0.8);
  border-radius: 40px;
  width: 45%;
  display: block;
  margin: 0 auto;
  padding: 2%;
  color: aliceblue;
  box-shadow: 3px 10px 15px -4px #000000;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: block;
  box-shadow: 0px 10px 10px -7px #000000;
  max-width: fit-content;
  margin: 0 auto;
}

.App {
  text-align: center;
  border: 1px solid gray;
  display: block;
  margin-top: 4%;
  margin: 0 auto;
  padding: 3%;
  box-shadow: 0px 10px 13px -7px #000000;
  width: 70%;
  max-width: 79%;
  background-image: url("https://cdn.pixabay.com/photo/2015/01/15/16/17/hands-600497_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cityName {
  font-weight: 700;
  font-size: 1.5rem;
}

.currentConditions {
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  padding-top: 8%;
  text-align: left;
}

.cityAndIcon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 7.5%;
  text-align: end;
}

.bgOverlay {
  background-color: rgba(255, 255, 255, 0.8);
}

.gitLink {
  color: aliceblue;
}

.Search {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}
