body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}

h1 {
  background-color: rgba(255, 255, 240, 0.7);
  width: 40%;
  display: block;
  margin: 0 auto;
  padding: 15%;
  margin-top: 5%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid gray;
  margin: 5%;
  padding-bottom: 3%;
}
