* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0%;
  margin: 0;
}

h1 {
  background-color: rgba(113, 220, 247, 0.8);
  border-radius: 40px;
  width: 40%;
  max-width: 42%;
  display: block;
  margin: 0 auto;
  padding: 2%;
  color: aliceblue;
  box-shadow: 3px 10px 15px -4px #000000;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: block;
  box-shadow: 0px 10px 10px -7px #000000;
  max-width: fit-content;
  margin: 0 auto;
}

p {
  font-style: italic;
  font-weight: 150;
}

.App {
  text-align: center;
  border: 1px solid gray;
  display: block;
  margin-top: 4%;
  margin: 0 auto;
  box-shadow: 0px 10px 13px -7px #000000;
  background-image: url("https://cdn.pixabay.com/photo/2015/01/15/16/17/hands-600497_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 750px;
}

.cityName {
  font-weight: 700;
  font-size: 2.5rem;
  padding-top: 11%;
}

.currentConditions {
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  padding-top: 8%;
  text-align: left;
}

.cityAndIcon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 7.5%;
  text-align: end;
}

.bgOverlay {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  width: fill;
}

.gitLink {
  color: aliceblue;
}

.Search {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

.App a {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
}

.App a:hover {
  text-decoration: underline;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.unit {
  color: black;
  font-weight: 100;
  text-decoration: underline;
  font-size: xx-small;
}

.unit a:active,
a:hover {
  color: black;
}
